*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color :#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
/* box 1*/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("image/amazon_logo.png");
    background-size:cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*box 2*/
.ad{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 23px;
}
.place{
    font-size: 1rem;
    margin-left: 3px;
}
.icon{
    display: flex;
    align-self: center;
}
/* box 3*/
.search{
    display:flex ;
    justify-content:space-evenly;
    background-color: pink;
    width: 600px;
    height: 40px;
    border-radius:4px;
    margin-left:15px;    
}
.search:hover{
    border: 2px solid orange;
}
.item{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.icon1{
    background-color:#fedb68 ;
    width:45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius:4px ;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/**box 4**/
span{
    font-size:0.7rem ;
}
.nav-sec{
    font-size:0.85rem;
    font-weight: 700;
}
/** box 5 **/
.cart i{
    font-size:30px;
}
.cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.ops p{
    display:inline;
    margin-left: 15px;
}
.ops{
    width: 70%;
    font-size: 0.85rem;  
}
.deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-sec{
    background-image: url("image/hero_image (1).jpg");
    height:350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

/*shop-section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width:23%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 1.5rem;
}
.img1{
    background-size:cover;
    height:320px;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.box-content p{
      color: #007185 ;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.foot-panel1{
    background-color:#37475a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
footer{
    margin-top: 15px;
}
.foot-panel2{
    background-color: #222f3d;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
    display: block;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid white ;
    height: 70px;
}
.logo{
    background-image: url("image/amazon_logo.png");
    background-size:cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.page{
    padding-top: 25px;
}
.copyright{
    margin-top: 10px;

}
